
<div id="configurescene" class="hasSidebar" v-cloak>
  <% include ../../includes/sidebar.ejs %>
  <div id="content-wrapper">
      <h1>Graphs.</h1>
        <ajax-form :syncing.sync="syncing" :form-data="formData" class="form-horizontal"  @submitted="uploadBeaconsNewName()" id="formfieldBeacons" action="modifyAlias">
          <div class="form-group">
              <label for="selectScene">Select scene:</label>
          <select class="form-control" v-model="formData.scene" id="selectScene" @change="sceneChanged()">
            <option v-for="sc in scenes" v-bind:value="sc">{{sc}}</option>
        </select>
      </div>

        <table id="tabletomodify" class="table">
          <thead class="thead-dark">
            <tr>
              <td>Id</td>
              <td>Color</td>
              <td>Alias</td>
            </tr>
          </thead>
          <tbody id="tabletomodifyTbody">
            <tr v-for="longid in longids">
              <td>{{longid.longid}}</td>
              <td>{{longid.color}}</td>
              <td>
                <input class='form-control' 
                  type='text' 
                  :id='longid.longid'
                  v-bind:value="longid.alias"
                  v-model='formData.aliases[longid.longid]'>
                </td>

            </tr>

          </tbody>

        </table>
        <ajax-button :syncing.sync="syncing" class="btn btn-success" type="submit">Submit</ajax-button>
        <button class="btn btn-danger" type="button" @click="sceneChanged()">Reset</button>
      </ajax-form>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
